.client {

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    &__item {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;

        @media (min-width: 768px) {
                width: calc((100% - 3 * 30px) / 3);
            }
        @media (min-width: 1200px) {
                width: calc((100% - 6 * 30px) / 6);
            }
    }

    &__link {
        display: flex;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        transition: border 250ms var(--timing-function);
        
        &:hover,
        &:focus {
            border: 1px solid var(--link-color)
        }
    }
    &__icon {
        fill: #AFB1B8;
        transition: fill 250ms var(--timing-function);

        .client__link:hover & {
            fill: var(--link-color);
        }

        .client__link:focus & {
            fill: var(--link-color);
        }
    }
}