.feature {
    
    &__list {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: -15px;
        }
    }

    &__box {
        @media (min-width: 768px) {
            width: calc((100% - 60px)/2);
            margin: 15px;
            align-self: flex-start;
        }
        @media (min-width: 1200px) {
            width: calc((100% - 150px)/4);
            
        }
    
            &:last-child {
                margin-bottom: 0;
            }
    }


    

    &__img {
        background-color: var(--secondary-page-color);
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        display: flex;
        justify-content: center;            
        align-items: center;
    }
    &__items {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }
    
    &__description {
        line-height: 1.7;
        color: var(--primary-text-color);
        letter-spacing: 0.03em;
    }
}
