.hero {
    background-image:
        linear-gradient(180deg, rgba(47, 48, 58, 0.4) 50%, rgba(47, 48, 58, 0.4) 50%),
        url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-title-color);
    text-align: center;
    max-width: 1600px;


    &__section {
        margin: auto;
        padding: 200px 0;
    }

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        color: var(--accent-color);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.06em;

        width: 696px;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}